.#{$class-site-wrap} .modal {
    &__wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.45);
        z-index: 999;
    }

    &__container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__top {
        & button {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url('../img/icons/close.svg');
            background-position: center;
            background-size: 13px;
            background-repeat: no-repeat;

        }
    }

    &__body {
        max-width: 375px;
        width: 100%;
        background-color: white;
        position: relative;
    }
}