$class-site-wrap: 'liper';
$class-disabled: 'disabled';
$class-success: 'success';
$class-error: 'error';
$class-warning: 'warning';
$class-main: 'main';
$class-outline: 'outline';
$class-active: 'active';
$class-show: 'show';
$class-breadcrumbs: 'breadcrumbs';
$class-pagination: 'pagination';
$class-default-table-wrap: 'table-wrap';
$class-column: 'col';
$class-gap: 'gap';