.#{$class-site-wrap} .form-group {
    margin-bottom: 0em;
    font-size: 0.8em;

    &_checkbox-group {
        display: flex;
        flex-wrap: nowrap;
    }

    &__fake-radio,
    &__fake-checkbox {
        display: flex;
        flex-wrap: nowrap;
        font-size: 0.8rem;
        transition: 0.4s;
        cursor: pointer;
        user-select: none;
        margin-top: -0.2em;
        border-radius: 100%;
        position: relative;

        &:hover {
            color: $color-main-hover;
        }

        &:before {
            background-color: white;

            content: '';
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.25em;
            min-width: 1.25em;
            height: 1.25em;
            min-height: 1.25em;
            border: 1px solid $color-main;
            margin-right: 1em;
            transition: 0.4s;
            background-color: white;
            border-radius: 100%;
            margin-top: 0.1em;
            font-weight: 700;
            font-family: "Font Awesome 6 Free";
            color: white;
            font-size: 0.9em;
            padding: 0.2em;


        }

        &.#{$class-active}::before {
            outline: 0.5em solid $color-main;
            outline-offset: -1.1em;

        }

        &.#{$class-error} {
            color: $color-error;

            &::before {
                border-color: $color-error;
            }
        }

        &.#{$class-disabled} {
            color: $color-disabled;

            &:before {
                border-color: $color-disabled;
            }
        }
    }

}